<% #if authenticated? %>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Exercises</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% @challenges.each do |challenge| %>
              <li class="challenge-list">
                <a href='/<%= challenge.id %>' class="challenge-list"><%= challenge.name %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <%= erb :_challenge, layout: false %>
    </div>
  </div>


<% #else %>
<!-- <div class="jumbotron">
  <h1>Welcome to Enumerable Tutor!</h1>
  <p>Increase your enumerable method-fu with this handy
    in browser tutor</p>
</div> -->
<% #end %>
